{%extends 'base.html'%}

{% block formulario %}
<form method="POST" class= "form">
  {% csrf_token %}
  {{tema_form.as_p}}
  <div class="form-group" style="margin-bottom: 5px;">
    <button type= "submit" id= "enviar2">Enviar</button>
  </div>
</form>
{% endblock formulario %}
<br>
{%block listagem%}
{%for tema in temaChaves%}
<tr class="result">
    <td>{{tema.id}}</td>
    <td>{{tema.tema}}</td>
    <td class="editar" >
      <a href="{%url 'update_tema' tema.id%}">Editar</a> 
      <a href="{%url 'delete_tema' tema.id%}">Excluir</a>
    </td>
</tr>            
{%endfor%}
{%endblock listagem%}