<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{noticia_form.as_p}}
        <button type= "submit">Enviar</button>
    </form>
    <br>
    <br>
    <table border="1">
        <tr>
            <td>Titulo</td>
            <td>Data</td>
            <td>Confiabilidade</td>
            <td>Tema</td>

        </tr>
        {% for noticia in noticiaChaves %}
        <tr>
            <td>{{noticia.titulo}}</td>
            <td>{{noticia.data}}</td>
            <td>{{noticia.confiabilidade}}</td>
            <td>{{noticia.not_tem_codigo}}</td>
            <td>
                <a href="{%url 'update_noticia' noticia.id%}">
                  <button>att</button>   
                </a>
            </td>
            <td>
                <a href="{%url 'delete_noticia' noticia.id%}">
                  <button>del</button>   
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>